body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, footer {
    width: 80%;
    margin: 0% 10%;
    overflow: hidden;
    background-color: #273238;
}

header a , footer a, footer p{
    float: left;
    font-weight: bold;
    color: #f2f2f2;
    padding: 1% 2%;
    text-decoration: none;
    font-size: 1rem;
    height: 5vh;
}

header a:hover {
    background-color: #4E7A8A;
}

header a.active {
    background-color: #79C3E0;
    color: white;
    font-weight: bold;
}

a > p{
    margin-top: 1.5vh;
}


footer { 
    position: absolute; /* Change it to */
    position: static;  
    bottom: 0; 
    width: 80%; 
    /* Height of the footer*/  
} 

header a img{
    height:100%;
}